<a href="https://colab.research.google.com/github/alminha021/DS-rcf/blob/main/media_mediana_moda_RCF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd

alocando o dados de exemplo e aplicando o map() para transformar em float todos os valores da lista

In [21]:
ai = [62000,64000,49000,324000,1264000,54330,64000,51000,55000,48000,53000]
ds = list(map(float,ai))

In [17]:
ai

[62000,
 64000,
 49000,
 324000,
 1264000,
 54330,
 64000,
 51000,
 55000,
 48000,
 53000]

In [23]:
ds

[62000.0,
 64000.0,
 49000.0,
 324000.0,
 1264000.0,
 54330.0,
 64000.0,
 51000.0,
 55000.0,
 48000.0,
 53000.0]

transformando a lista de floats em um dataframe do pandas

In [29]:
df = pd.DataFrame(ds)
print(df)

            0
0     62000.0
1     64000.0
2     49000.0
3    324000.0
4   1264000.0
5     54330.0
6     64000.0
7     51000.0
8     55000.0
9     48000.0
10    53000.0

aplicando o mean() para a media, mode() para a moda e a median() para retornar a mediana do dataframe df q contem os dados

In [64]:
media = df[0].mean()
print('media =', media)

media = 189848.18181818182

In [66]:
modas = df[0].mode()
print('moda =', modas[0])

moda = 64000.0

In [65]:
media =df[0].median()
print('media = ', media)

media =  55000.0